<div>
  <router-outlet></router-outlet>
</div>

<!-- Modal Edit Profile -->
<div
  class="modal fade"
  id="editProfile"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          onclick="$('#editProfile').modal('hide');"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="inputName">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="inputName"
            placeholder="Enter name"
          />
        </div>
        <div class="form-group">
          <label for="inputPosition">Posición</label>
          <input
            type="text"
            class="form-control"
            id="inputPosition"
            placeholder="Enter position"
          />
        </div>
        <div class="form-group">
          <label for="inputCompany">Compañia</label>
          <input
            type="text"
            class="form-control"
            id="inputCompany"
            placeholder="Enter company"
          />
        </div>
        <div class="form-group">
          <label for="inputUbication">Ubicación</label>
          <input
            type="text"
            class="form-control"
            id="inputUbication"
            placeholder="Enter ubication"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          onclick="$('#editProfile').modal('hide');"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          onclick="saveEditProfileModal()"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit About -->
<div
  class="modal fade"
  id="editAbout"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          onclick="$('#editAbout').modal('hide');"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="inputAbout">About</label>
          <textarea
            type="text"
            class="form-control"
            id="inputAbout"
            placeholder="Enter about"
          ></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          onclick="$('#editAbout').modal('hide');"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          onclick="saveEditAboutModal()"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal New Experience -->
<div
  class="modal fade"
  id="newExp"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          onclick="$('#newExp').modal('hide');"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="inputPositionExp">Position</label>
          <input
            type="text"
            class="form-control"
            id="inputPositionExp"
            placeholder="Enter position"
          />
        </div>
        <div class="form-group">
          <label for="inputCompanyExp">Company</label>
          <input
            type="text"
            class="form-control"
            id="inputCompanyExp"
            placeholder="Enter company"
          />
        </div>
        <div class="form-group">
          <label for="inputImgExp">Imagen</label>
          <input
            type="text"
            class="form-control"
            id="inputImgExp"
            placeholder="Enter image"
          />
        </div>
        <div class="form-group">
          <label for="inputModeExp">Modo</label>
          <input
            type="text"
            class="form-control"
            id="inputModeExp"
            placeholder="Enter Mode"
          />
        </div>
        <div class="form-group">
          <label for="inputInitialExp">Fecha Inicio</label>
          <input
            type="text"
            class="form-control"
            id="inputInitialExp"
            placeholder="Enter initial date"
          />
        </div>
        <div class="form-group">
          <label for="inputEndExp">Fecha Fin</label>
          <input
            type="text"
            class="form-control"
            id="inputEndExp"
            placeholder="Enter end date"
          />
        </div>
        <div class="form-group">
          <label for="inputTimeExp">Tiempo en el trabajo</label>
          <input
            type="text"
            class="form-control"
            id="inputTimeExp"
            placeholder="Enter time in position"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          onclick="$('#newExp').modal('hide');"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          onclick="saveNewExpModal()"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit Experience -->
<div
  class="modal fade"
  id="editExp"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          onclick="$('#editExp').modal('hide');"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="inputCompanyExpEdit">Company</label>
          <input
            type="text"
            class="form-control"
            id="inputCompanyExpEdit"
            placeholder="Enter company"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="inputPositionExpEdit">Position</label>
          <input
            type="text"
            class="form-control"
            id="inputPositionExpEdit"
            placeholder="Enter position"
          />
        </div>
        <div class="form-group">
          <label for="inputImgExpEdit">Imagen</label>
          <input
            type="text"
            class="form-control"
            id="inputImgExpEdit"
            placeholder="Enter image"
          />
        </div>
        <div class="form-group">
          <label for="inputModeExpEdit">Modo</label>
          <input
            type="text"
            class="form-control"
            id="inputModeExpEdit"
            placeholder="Enter Mode"
          />
        </div>
        <div class="form-group">
          <label for="inputInitialExpEdit">Fecha Inicio</label>
          <input
            type="text"
            class="form-control"
            id="inputInitialExpEdit"
            placeholder="Enter initial date"
          />
        </div>
        <div class="form-group">
          <label for="inputEndExpEdit">Fecha Fin</label>
          <input
            type="text"
            class="form-control"
            id="inputEndExpEdit"
            placeholder="Enter end date"
          />
        </div>
        <div class="form-group">
          <label for="inputTimeExpEdit">Tiempo en el trabajo</label>
          <input
            type="text"
            class="form-control"
            id="inputTimeExpEdit"
            placeholder="Enter time in position"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          onclick="$('#editExp').modal('hide');"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          onclick="saveEditExpModal($('#inputCompanyExpEdit').val())"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal New Education -->
<div
  class="modal fade"
  id="newEdu"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          onclick="$('#newEdu').modal('hide');"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="inputSchool">Escuela</label>
          <input
            type="text"
            class="form-control"
            id="inputSchool"
            placeholder="Enter school"
          />
        </div>
        <div class="form-group">
          <label for="inputTitle">Titulo</label>
          <input
            type="text"
            class="form-control"
            id="inputTitle"
            placeholder="Enter title"
          />
        </div>
        <div class="form-group">
          <label for="inputSchoolImage">Imagen</label>
          <input
            type="text"
            class="form-control"
            id="inputSchoolImage"
            placeholder="Enter image"
          />
        </div>
        <div class="form-group">
          <label for="inputCareer">Carrera</label>
          <input
            type="text"
            class="form-control"
            id="inputCareer"
            placeholder="Enter career"
          />
        </div>
        <div class="form-group">
          <label for="inputScore">GPA</label>
          <input
            type="text"
            class="form-control"
            id="inputScore"
            placeholder="Enter score"
          />
        </div>
        <div class="form-group">
          <label for="inputSchoolInitial">Fecha Inicio</label>
          <input
            type="text"
            class="form-control"
            id="inputSchoolInitial"
            placeholder="Enter initial date"
          />
        </div>
        <div class="form-group">
          <label for="inputSchoolEnd">Fecha Final</label>
          <input
            type="text"
            class="form-control"
            id="inputSchoolEnd"
            placeholder="Enter end date"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          onclick="$('#newEdu').modal('hide');"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          onclick="saveNewEduModal()"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit Education -->
<div
  class="modal fade"
  id="editEdu"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          onclick="$('#editEdu').modal('hide');"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="inputSchoolEdit">Escuela</label>
          <input
            type="text"
            class="form-control"
            id="inputSchoolEdit"
            placeholder="Enter school"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="inputTitleEdit">Titulo</label>
          <input
            type="text"
            class="form-control"
            id="inputTitleEdit"
            placeholder="Enter title"
          />
        </div>
        <div class="form-group">
          <label for="inputSchoolImageEdit">Imagen</label>
          <input
            type="text"
            class="form-control"
            id="inputSchoolImageEdit"
            placeholder="Enter image"
          />
        </div>
        <div class="form-group">
          <label for="inputCareerEdit">Carrera</label>
          <input
            type="text"
            class="form-control"
            id="inputCareerEdit"
            placeholder="Enter career"
          />
        </div>
        <div class="form-group">
          <label for="inputScoreEdit">GPA</label>
          <input
            type="text"
            class="form-control"
            id="inputScoreEdit"
            placeholder="Enter score"
          />
        </div>
        <div class="form-group">
          <label for="inputSchoolInitialEdit">Fecha Inicio</label>
          <input
            type="text"
            class="form-control"
            id="inputSchoolInitialEdit"
            placeholder="Enter initial date"
          />
        </div>
        <div class="form-group">
          <label for="inputSchoolEndEdit">Fecha Final</label>
          <input
            type="text"
            class="form-control"
            id="inputSchoolEndEdit"
            placeholder="Enter end date"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          onclick="$('#editEdu').modal('hide');"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          onclick="saveEditEduModal($('#inputSchoolEdit').val())"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal New Apt -->
<div
  class="modal fade"
  id="newApt"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          onclick="$('#newApt').modal('hide');"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="inputApt">Aptitud</label>
          <input
            type="text"
            class="form-control"
            id="inputApt"
            placeholder="Enter Aptitude"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          onclick="$('#newApt').modal('hide');"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal New Achivements -->
<div
  class="modal fade"
  id="newAch"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          onclick="$('#newAch').modal('hide');"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="inputAch">Logros</label>
          <input
            type="text"
            class="form-control"
            id="inputAch"
            placeholder="Enter Achivements"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          onclick="$('#newAch').modal('hide');"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
